#s-57eff65c-337e-4a72-9358-c210e594b4f6 > #backgroundBox {
  position: absolute;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Image_1 {
  position: absolute;
  width: 744.0px;
  height: 1273.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Rectangle_1 {
  position: absolute;
  width: 79.00000000000047px;
  min-height: 77.99999999999976px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Rectangle_2 {
  position: absolute;
  width: 657.0px;
  min-height: 288.99999999999966px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Rectangle_2 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #000000;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Button_1 {
  position: absolute;
  width: 195.0px;
  min-height: 72.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #CD0000;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Button_1 > .borderLayer {
  border-top-width: 4.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 4.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 4.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 4.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Button_2 {
  position: absolute;
  width: 187.0px;
  min-height: 64.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Button_2 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Button_2 span {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Rectangle_3 {
  position: absolute;
  width: 270.0px;
  min-height: 85.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: rgba(255,255,255,0.8);
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Rectangle_3 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Rectangle_3 .paddingLayer {
  padding-top: 20px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Rectangle_3 .valign {
  vertical-align: top;
  text-align: center;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Rectangle_3 span {
  color: #F8F8F8;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.75pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #F8F8F8;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.75pt;
  font-weight: 400;
  text-transform: none;
  line-height: 18px;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Paragraph_1 {
  position: absolute;
  width: 270.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Paragraph_1 > .backgroundLayer > .colorLayer {
  background-color: rgba(255,255,255,0.8);
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Paragraph_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: rgba(0,0,0,0.1);
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Paragraph_1 span {
  color: #0A84FF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #0A84FF;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Paragraph_2 {
  position: absolute;
  width: 227.5000000000001px;
  min-height: 24.156028368794324px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Paragraph_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Paragraph_3 {
  position: absolute;
  width: 248.5px;
  min-height: 52.84397163120525px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: center;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Paragraph_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 9.75pt;
  font-weight: 300;
  text-transform: none;
  line-height: 17px;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 9.75pt;
  font-weight: 300;
  text-transform: none;
  line-height: 17px;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Paragraph_4 {
  position: absolute;
  width: 270.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Paragraph_4 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Paragraph_4 > .backgroundLayer > .colorLayer {
  background-color: rgba(255,255,255,0.8);
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Paragraph_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: rgba(0,0,0,0.1);
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Paragraph_4 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Paragraph_4 span {
  color: #FF0000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #FF0000;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-57eff65c-337e-4a72-9358-c210e594b4f6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}